@tailwind base;
@tailwind components;
@tailwind utilities;

.array {
    padding: 1rem;
    display: flex;
    min-height: 80hv;
    align-items: flex-start;
}

.cell {
    flex: 0.5;
    margin: 1px;
    display: flex;
    resize: horizontal;
    position: relative;
    align-items: flex-start;
    background-color: '#D6D6D6';
    transition: all .4s ease-in;
}

.cell.done{
    background-color: '#9CEC5B';
    border-color: '#9CEC5B';
    transition: all .4s ease-out;
}

.cell.current {
    border-color: '#6184D8';
    background-color: '#6184D8';
    transition: all .4s ease-out;
}

.frame {
    background-color: black;
}